/* * {
	outline: 1px solid lightgrey;
} */

body {
	margin: 0 auto;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

svg {
	outline: 1px solid #ccc;
	background-color: #ddd;
	margin-top: 5px;
	margin-left: 230px;
	margin-right: 230px;
	width: 46%;
	height: 30px;
	border-radius: 10px;
}

svg:hover {
	box-shadow: 2px 2px 2px black;
}

nav {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	padding: 0 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li a {
	color: #aaa;
	text-decoration: none;
	margin: 5vw;
}

nav ul li a:hover {
	color: white;
}

section {
	padding: 50px;
	text-align: center;
}

section h2 {
	margin-bottom: 50px;
}

section ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section ul li {
	margin-bottom: 10px;
}

section ul li a {
	color: lightgrey;
	text-decoration: none;
}

section ul li a:hover {
	text-decoration: underline;
}

#intro {
	margin-top: 40px;
}

#intro h1, #intro h2 {
	margin-top: 0;
}

#intro img {
	height: 50%;
	width: 50%;
	max-width: 400px;
	margin-bottom: 50px;
	object-fit: cover;
	border-radius: 300px;
	outline: 4px solid black;
}

#intro img:hover {
	box-shadow: 0px 0px 20px grey;
}

#projects li {
	margin-bottom: 50px;
}

#projects img {
	height: 50%;
	width: 50%;
	max-width: 400px;
	object-fit: cover;
	border-radius: 10px;
}

#projects img:hover {
	box-shadow: 2px 2px 2px black;
}

#skills {
	background-color: black;
	color: white;
}

#projects a {
	color: #555;
}

#projects a:hover {
	color: black;
	text-decoration: none;
}

#contact {
	background-color: black;
	color: white;
}

#contact a {
	color: #aaa;
}

#contact a:hover {
	color: white;
	text-decoration: none;
}

iframe {
	width: 90vw !important;
	height: 80vh;
	margin: auto !important;
}